/* LANDING FIX */
@media (min-height: 550px) and (max-height: 680px) and (min-width: 760px) {
    #headline {
        font-size: 100px;
        margin-top: 15px;
    }
}
@media (max-height: 550px) and (min-width: 760px) {
    #headline {
        font-size: 70px;
        margin-top: 15px;
    }
    #subtext {
        font-size: 18px;
    }
    .cntower {
     max-height: 173px;
    }
    .mousedown {
        max-height: 33px;
    }
}

@media (max-height: 680px) and (min-width: 500px) and (max-width: 760px) {
         #headline {
        font-size: 70px;
        margin-top: 15px;
    }
}
