/* GENERAL */

@font-face {
    font-family: storyBook;
    src: url(/assets/StoryBook.otf);
}
@font-face {
    font-family: oswaldLight;
    src: url(/assets/Oswald-Light.ttf);
}
@font-face {
    font-family: oswaldExtraLight;
    src: url(/assets/Oswald-ExtraLight.ttf);
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.page {
    height: 100vh;
    width: 100vw;
}
.container-big {
    max-width: 1150px;
}

h2 {
    font-family: storyBook;
    font-size: 80px;
}
.center {
    margin: 0 auto;
}
.image-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

/* LANDING */

.landing {
background: #ee9ca7;
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
background: linear-gradient(to right, #ffdde1, #ee9ca7);
}

.landing-container {
    display: grid;
}

#logo {
    margin-top: 15px;
    margin-bottom: 20px;
    margin: 0 auto;
}

#webstories {
    max-height: 70px
}

#headline {
    font-family: storyBook;
    color: #596E78;
    font-size: 73px;
    margin-top: 40px;
    margin-bottom: 50px;
    transform: rotate(-14deg);
}

#subtext {
    font-family: oswaldExtraLight;
    font-size: 25px;
    color: #596e78;
    letter-spacing: 0;
}

.cntower {
    max-height: 180px;
    margin-top: 50px;
}

.mousedown {
    max-height: 50px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.snowflake{
        display: none;
    }

.animation-snow {
    animation: animationsnow 4s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.17,.67,.83,.67);
}

@keyframes animationsnow {
    0%   {opacity: 0; top: 0;}
    15%  {opacity: 1; transform: rotate(0deg);}
    25%  {transform: rotate(20deg);}
    50%  {transform: rotate(-20deg);}
    85%  {opacity: 1; transform: rotate(0deg);}
    100% {opacity: 0; top: 400px};
}

.animation-mouse {
    animation: animationmouse 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes animationmouse {
    0% {opacity: 0};
    100% {opacity: 1};
}
/* STORY CONTAINER */
.story {
    transition: background-color 1s;
    padding-bottom: 50px;
}
.story-container {
    display: grid;
}
.story-headline {
    text-align: center;
    font-size: 80px;
    margin-top: 30px;
}
.media {
    max-width: 90vw;
    height: auto;
    display: block;
    margin: 0 auto
}
.rectangle {
    height: 100px;
    width: 150px;
    z-index: -100;
    position: absolute;
    top: 160vh;
    left: 100px;
    background: #ee9ca7;
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
    background: linear-gradient(to right, #ffdde1, #ee9ca7);

}

.text-story {
    max-width: 90vw;
    margin: 0 auto;
    font-family: oswaldLight;
    grid-row-start: 3;
    margin-top: 30px;
}
.fa-arrow-circle-right {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 26px;
}
.timeline {
    display: none;
}

/* RESOLUTION */
