@media (min-width: 500px) {
    /* LANDING */
    .landing-container {
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    }
    #logo {
        padding: 15px;
    }
    #webstories {
        grid-row-start: 1;
    }
    #webstories, #headline, #subtext, .cntower, .mousedown {
        grid-column-start: 2;
        align-self: center
    }
    #headline {
        font-size: 95px;
    }
    #subtext {
        font-size: 35px;
    }
    .cntower {
        max-height: 220px;
    }

    /* STORY */
    .timeline {
        width: 100vw;
        height: 100vh;
    }
    .line {
        position: relative;
        bottom: 10px;
    }

}
